# we do not want to push any data files to Github

*.pkl
*.h5
*.csv
*.html
*.png
*.gif
*.log

# scratch is a temporary folder for scratchbooks that are not pushed to Github
data/scratch/*

__pycache__/

data/wbstruct_converter/utils/__pycache__/
data/wbstruct_converter/utils/__pycache__/wbstruct_dicts_to_dataframes.cpython-310.pyc
*-checkpoint.ipynb
data/preprocessing/debug.log
